<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <connectionStrings>
  <add name="Access" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Database.accdb;Persist Security Info=False;" />
  <add name="Excel" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Workboook.xlsx;Extended Properties='Excel 12.0 Xml;HDR=YES;'" />
  <add name="SQLite" connectionString="Data Source=|DataDirectory|\Banco.db;Version=3;" />
  <add name="Oracle" connectionString="Data Source=MyOracleDB;User Id=myUsername;Password=myPassword;Integrated Security=no;" />
  <add name="MySQL" connectionString="Server=mysql.uhserver.com;Database=banco;Uid=user;Pwd=P@w#d$;" />
  <add name="SQLServer" connectionString="Data Source=.\POWERBI;Initial Catalog=powerbi;Integrated Security=True;" />
  <add name="PostgreSQL" connectionString="Server=localhost;Port=5432;Database=Database;User Id=User;Password=Password;" />
 </connectionStrings>
</configuration>
